::ng-deep .dnd-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(160px, auto);
  gap: 1rem;
  align-items: stretch;
}

::ng-deep .dnd-grid-col-span-1 {
  grid-column: span 1;
}
::ng-deep .dnd-grid-col-span-2 {
  grid-column: span 2;
}
::ng-deep .dnd-grid-col-span-3 {
  grid-column: span 3;
}
::ng-deep .dnd-grid-col-span-4 {
  grid-column: span 4;
}
::ng-deep .dnd-grid-col-span-5 {
  grid-column: span 5;
}
::ng-deep .dnd-grid-col-span-6 {
  grid-column: span 6;
}
::ng-deep .dnd-grid-col-span-7 {
  grid-column: span 7;
}
::ng-deep .dnd-grid-col-span-8 {
  grid-column: span 8;
}
::ng-deep .dnd-grid-col-span-9 {
  grid-column: span 9;
}
::ng-deep .dnd-grid-col-span-10 {
  grid-column: span 10;
}
::ng-deep .dnd-grid-col-span-11 {
  grid-column: span 11;
}
::ng-deep .dnd-grid-col-span-12 {
  grid-column: span 12;
}

::ng-deep .dnd-grid-row-span-1 {
  grid-row: span 1;
}
::ng-deep .dnd-grid-row-span-2 {
  grid-row: span 2;
}
::ng-deep .dnd-grid-row-span-3 {
  grid-row: span 3;
}
::ng-deep .dnd-grid-row-span-4 {
  grid-row: span 4;
}
::ng-deep .dnd-grid-row-span-5 {
  grid-row: span 5;
}
::ng-deep .dnd-grid-row-span-6 {
  grid-row: span 6;
}
::ng-deep .dnd-grid-row-span-7 {
  grid-row: span 7;
}
::ng-deep .dnd-grid-row-span-8 {
  grid-row: span 8;
}
::ng-deep .dnd-grid-row-span-9 {
  grid-row: span 9;
}
::ng-deep .dnd-grid-row-span-10 {
  grid-row: span 10;
}
::ng-deep .dnd-grid-row-span-11 {
  grid-row: span 11;
}
::ng-deep .dnd-grid-row-span-12 {
  grid-row: span 12;
}
