:host {
  display: block;
}

:host ::ng-deep {
  .p-tablist {
    display: flex;
  }

  .p-tab {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-align: center;
    }
  }
}
