:host {
  display: block;
}

.sheet-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(220px, auto);
  gap: 1rem;
  align-items: stretch;
}

.row-span-2 {
  grid-row: span 2;
}
.row-span-3 {
  grid-row: span 3;
}

.span-12 {
  grid-column: span 12;
}
.span-11 {
  grid-column: span 11;
}
.span-10 {
  grid-column: span 10;
}
.span-9 {
  grid-column: span 9;
}
.span-8 {
  grid-column: span 8;
}
.span-7 {
  grid-column: span 7;
}
.span-6 {
  grid-column: span 6;
}
.span-4 {
  grid-column: span 4;
}
.span-3 {
  grid-column: span 3;
}
.span-2 {
  grid-column: span 2;
}
.span-1 {
  grid-column: span 1;
}
