:host {
  display: block;
}

.map-canvas-container {
  width: 100%;
  height: 600px;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--color-parchment);
}

.map-canvas {
  display: block;
  background-image: url(assets/grid.svg);
  max-width: none;
  max-height: none;
}
