:host {
  display: block;
  height: 100%;
}

:host ::ng-deep .p-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-card-body,
:host ::ng-deep .p-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
