@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@import './app/theme/dnd-theme.css';
@import './app/theme/dnd-palette.css';
@import './app/shared/components/dnd-dialog/dnd-dialog-fullscreen.css';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--color-bg);
  color: var(--text-body);
  font-family: var(--font-display);
  font-weight: 700;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  color: var(--text-heading);
  font-weight: 600;
  letter-spacing: 0.02em;
}
