<app-dnd-card class="w-full h-full" [displayDivider]="false">
  <div
    class="avatar-container h-full"
    (click)="fileInput.click()"
    (keydown.enter)="fileInput.click()"
    (keydown.space)="fileInput.click()"
    tabindex="0"
    role="button"
    aria-label="Change portrait"
  >
    <img [src]="avatar()" alt="Avatar" class="avatar-image" />

    <div class="avatar-overlay">
      <i class="pi pi-camera"></i>
      <span>Change Portrait</span>
    </div>

    <input
      #fileInput
      type="file"
      accept="image/*"
      class="hidden-upload"
      (change)="onFileChange($event)"
    />
  </div>
</app-dnd-card>
